.navbar{
    position: fixed;
background-color: #fff;
width: 100%;
top: 0%;
box-shadow: 0px 0px 8px rgb(0,0,0,6%);
}
.menu{
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
    margin-top: 0px;
    padding: 10px;
    justify-content: center;
        

}
ul{
   list-style-type: none;
   margin-top: 0px; 
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
       
}
li {
    float: left;
    
} 
li a{
display: block;
padding: 20px;
text-decoration: none;
color: rgb(29, 22, 22);
width: 50px;
justify-items: space-between;
}
.banner{
    background-color: lightpink;
    height: 700px;
}
.image {
    width: 100%;
    
}
.content{
    font-family: "lato",sans-serif;
    padding: 6% 0%;
    text-align: center;
}
.title{
    font-size: 50px;
}
 .title span{
    font-weight: 800;
    
}
.desc{
    font-size: 26px;
}
 
.btn{
    background-color: brown;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    font-family: "lato", sans-serif;
    
}
.form{
    background-color: aqua;
    height: 600px;
    text-align: center;
}
.image{
    height: 100px;
    width: 100px;


}
h2{
    color: brown;
    text-align: center;
}
.end.piture{
    width: 20px;
    height: 20px;

}
p{
    color: blue;
    text-align: center;
}